.dev-tips {
  span {
    &[data-color="orange"] {
      color: orange;
    }
  }

  article {
    border: 1px dotted #ccc;
    margin-bottom: 1rem;
    padding: 0.6rem;
    background-color: #222;

    h3 {
      color: #ccc;
    }
  }
}